<%= form_for @location, :html => {:multipart => true, :accept => "image/gif,image/png,image/jpg"} do |f| %>

   <div>
     <label>Location</label>
   </div>
   <div style="width: 400px;" >
     <%= file_field 'upload', 'datafile'  %>
   </div>
   
   <%= f.label :game_id %>:
   <%= f.text_field :game_id %><br/>
   
   <%= f.label :location_info %>:
   <%= f.text_field :location_info %><br/>

 <div>
   <%= f.submit "Create location", :class => "button" %>
 </div>

<% end  %>

<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<a href="#" class="btn btn-large btn-primary">Sign up now!</a>

<img alt="Rails" src="/assets/rails.png" />